format = """
$jobs\
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$fill\
$golang\
$kubernetes\
$line_break\
$python\
$character"""

right_format = """
$cmd_duration """

[fill]
symbol = " "

[username]
format = "[$user]($style)"
style_user = "yellow"

[hostname]
ssh_symbol = "󰒍 "
style = "green"
format = "[@$hostname $ssh_symbol]($style)"

[directory]
read_only = " "
style = "blue"

[git_branch]
format = "[$symbol$branch]($style)"
style = "bright-black"

[git_status]
format = '[$ahead_behind(\[($conflicted )( $modified)( $staged)( $untracked)( $renamed)( $deleted) \])](bright-black) '
ahead = '[󱞿](cyan) '
behind = '[󱞣](cyan) '
staged = '[](green)'
deleted = '[](red)'
renamed = '[󱀱](purple)'
untracked = '[󱪝](grey)'
modified = '[](yellow)'
conflicted = '[󰘖](red)'
diverged = '⇕ '
up_to_date = ''

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[kubernetes]
disabled = false
format = "[$symbol$namespace](blue)"
detect_files = [ 'kustomization.yaml', 'values.yaml']

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[python]
format = '\($virtualenv\) '

[golang]
symbol = "[](bold blue) "
format = "$symbol$version "

[character]
disabled = false
success_symbol = "[❯❯](bold white)"
vicmd_symbol = "[❮❮](bold white)"
error_symbol = "[❯❯](bold red)"
