{{- if and (eq .chezmoi.os "darwin") (.personal) -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
	"asdf"
	"atuin"
	"bat"
	"borders"
	"curl"
	"dockutil"
	"dos2unix"
	"fd"
	"fzf"
	"git"
	"git-delta"
	"jq"
	"koekeishiya/formulae/yabai"
	"koekeishiya/formulae/skhd"
	"neovim"
	"ripgrep"
	"starship"
	"tmux"
	"tree"
	"watch"
	"wget"
	"xz"
	"zstd" -}}

{{- $casks := list -}}
{{ if (and .personal .admin) -}}
{{ $casks = concat $casks (list
	"1password"
	"alex313031-thorium"
	"dropbox"
	"ferdium"
	"firefox"
	"bettertouchtool"
	"karabiner-elements"
	"kitty"
	"obsidian"
	"spotify"
	"tailscale"
	"visual-studio-code"
	"zoom"
	"signal") -}}
{{ end -}}

# Add the tap for "borders"
brew tap FelixKratz/formulae

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
