{{- if and (eq .chezmoi.os "darwin") (.personal) -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
	"asdf"
	"atuin"
	"bat"
	"borders"
	"curl"
	"diff-so-fancy"
	"dos2unix"
	"entr"
	"fd"
	"git"
	"git-delta"
	"gnupg"
	"jq"
	"koekeishiya/formulae/yabai"
	"koekeishiya/formulae/skhd"
	"neovim"
	"pinentry-mac"
	"ripgrep"
	"starship"
	"tmux"
	"tree"
	"watch"
	"wget"
	"xz"
	"zsh"
	"zstd" -}}

{{- $casks := list -}}
{{ if (and .personal .admin) -}}
{{   $brews = concat $brews (list
		"gopass") -}}
{{ $casks = concat $casks (list
	"1password"
	"alex313031-thorium"
	"alacritty"
	"dropbox"
	"ferdium"
	"firefox"
	"bettertouchtool"
	"karabiner-elements"
	"obsidian"
	"spacelauncher"
	"spotify"
	"tailscale"
	"visual-studio-code"
	"zoom"
	"signal") -}}
{{ end -}}

# Add the tap for "borders"
brew tap FelixKratz/formulae

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
