{{- if and (eq .chezmoi.os "darwin") (.personal) -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
	"atuin"
	"bat"
	"cormacrelf/tap/dark-notify"
	"borders"
	"curl"
	"direnv"
	"dockutil"
	"dos2unix"
	"dust"
	"fd"
	"fzf"
	"git"
	"jq"
	"kustomize"
	"ncspot"
	"neovim"
	"mise"
	"presenterm"
	"ripgrep"
	"rga"
	"starship"
	"tmux"
	"tree"
	"watch"
	"wget"
	"xz"
	"zstd" -}}

{{- $casks := list -}}
{{ if (and .personal .admin) -}}
{{ $casks = concat $casks (list
	"1password"
	"nikitabobko/tap/aerospace"
	"dropbox"
	"ferdium"
	"bettertouchtool"
	"karabiner-elements"
	"ghostty"
	"obsidian"
	"tailscale"
	"visual-studio-code@insiders"
	"zoom"
	"signal") -}}
{{ end -}}

# Add taps
brew tap FelixKratz/formulae
brew tap cormacrelf/tap
brew tap nikitabobko/tap

brew bundle  --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
