{{- if and (eq .chezmoi.os "linux") (.personal) -}}
#!/bin/bash

set -eufo pipefail

{{- if .arch }}
pkgs=(
		tree-sitter-cli
		zen-broswer-bin
		atuin
		starship
		sof-firmware
		dust
		inxi
		acpi
		uv
		lsof
		bc
		tmux
		dos2unix
		zstd
		kmonad-static
)
yay -Sy ${pkgs[@]}
exit 0
{{- end }}

pkgs=(
        apt-utils
        dos2unix
        fzf
        git
        jq
        nala
        neovim
        ripgrep
        fd-find
        tmux
        tree
        unzip
        zsh
        zstd
)

{{- if .dev }}
pkgs+=(
        build-essential
        make
)
{{- end }}

{{- if (not .headless) }}
pkgs+=(
        clipman
)
{{- end }}


sudo apt update
sudo apt install -t experimental -y ${pkgs[@]}

# installs atuin and starship
/bin/bash -c "$(curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh)"
curl -sS https://starship.rs/install.sh | sh

{{- end }}
