{{- if and (eq .chezmoi.os "linux") (.personal) -}}
#!/bin/bash

set -eufo pipefail

pkgs=(
        apt-utils
        dos2unix
        fzf
        git
        gnupg
        jq
        nala
        neovim
        ripgrep
        tmux
        tree
        unzip
        zsh
        zstd
)

{{- if .dev }}
pkgs+=(
        build-essential
        make
)
{{- end }}

{{- if (not .headless) }}
pkgs+=(
        arandr
        lxappearance
        rofi
        xfce4-terminal
        xfce4-clipman
)
{{- end }}


sudo apt update
sudo apt install -t unstable -y ${pkgs[@]}

# installs atuin and starship
/bin/bash -c "$(curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh)"
curl -sS https://starship.rs/install.sh | sh

{{- end }}
