{{- if and (eq .chezmoi.os "linux") (.personal) -}}
#!/bin/bash

set -eufo pipefail

{{- if .arch }}
pkgs=(
		acpi
		atuin
		bat
		bc
		dos2unix
		dust
		inxi
		kmonad-static
		lsof
		sof-firmware
		starship
		tmux
		uv
		zstd
	gvfs-nfs	
	zen-broswer-bin
)
yay -Sy ${pkgs[@]}
exit 0
{{- end }}

pkgs=(
        apt-utils
        dos2unix
        fzf
        git
        jq
        nala
        neovim
        ripgrep
        fd-find
        tmux
        tree
		tree-sitter-cli
        unzip
        zsh
        zstd
)

{{- if .dev }}
pkgs+=(
        build-essential
        make
)
{{- end }}

{{- if (not .headless) }}
pkgs+=(
        clipman
)
{{- end }}


sudo apt update
sudo apt install -y ${pkgs[@]}

# installs atuin and starship
/bin/bash -c "$(curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh)"
curl -sS https://starship.rs/install.sh | sh

{{- end }}
