{{- $arch := false }}
{{- $ephemeral := false }}
{{- $personal := false }}
{{- $work := false }}
{{- $admin := false }}
{{- $headless := false }}
{{- $dev := false }}
{{- $email := "" }}
{{- $git_user := "" }}

{{- $ephemeral = promptBool "ephemeral computer" }}
{{- $arch = promptBool "arch" }}

{{- if (not $ephemeral) }}

  {{- $personal = promptBool "personal computer" }}
  {{- if (not $personal) }}
    {{- $work = promptBool "work computer" }}
  {{- end }}

  {{- $email = get . "email" }}
  {{- if not $email }}
  {{-   $email = promptString "email" }}
  {{- end }}

  {{- $git_user = get . "git_user" }}
  {{- if not $git_user }}
  {{-   $git_user = promptString "git_user" }}
  {{- end }}
{{- end }}

{{- $headless = promptBool "headless computer" -}}
{{- $admin = promptBool "will your daily be admin" }}
{{- $dev = promptBool "will be dev workstation" }}

encryption = "age"
[age]
    identity = "~/.config/age.txt"
    recipient = "age1gjwjmc9q6ja939n2ljg09qxp4hnmve8cvkh6jagh97trawljj4hq4p32hw"

[merge]
  command = "nvim"
  args = "-d"

[data]
  email = {{ $email | quote }}
  git_user = {{ $git_user | quote }}
  work = {{ $work }}
  arch = {{ $arch }}
  personal = {{ $personal }}
  ephemeral = {{ $ephemeral }}
  headless = {{ $headless }}
  admin = {{ $admin }}
  dev = {{ $dev }}
