ZDOTDIR="${XDG_CONFIG_HOME}/zsh"
export LANG=en_US.utf-8

export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_STATE_HOME="${HOME}/.local/state"
{{- if (eq .chezmoi.os "darwin" ) }}
export XDG_RUNTIME_DIR=/private/tmp
{{- end }}

export EDITOR="$(which vi)"
export VISUAL="$(which vi)"
command -v vim > /dev/null && export EDITOR="$(which vim)"
command -v vim > /dev/null && export VISUAL="$(which vim)"
command -v nvim > /dev/null && export EDITOR="$(which nvim)"
command -v nvim > /dev/null && export VISUAL="$(which nvim)"

export cdpath=( . ${XDG_CONFIG_HOME}  ${HOME} )
# export PATH="/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:${HOME}/.local/bin:"
