ZSH="${XDG_STATE_HOME}/zsh"
ZSH_CUSTOM="${XDG_DATA_HOME}/zsh"

export PATH="/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:${HOME}/.local/bin:"
[ -f ~/.zshrc_local ] && source ~/.zshrc_local

plugins=(
  vi-mode
  zsh-autopair

  {{- if (.personal) }}
  gpg
  todo
  kube-ps1
  atuin
  fuck
  # pentest
  {{- end }}
  zsh-syntax-highlighting
)

theme=pure
source $ZSH_CUSTOM/themes/${theme}.zsh        # Sets theme
source $ZSH_CUSTOM/sourcer.zsh                # Sets up fpaths and plugins
source <(cat $ZSH_CUSTOM/functions/**/*.zsh)  # Sources custom functions
source <(cat $ZSH_CUSTOM/aliases/**/*.zsh)    # Sources custom  aliases


# vim: ft=bash
