# vim: ft=zsh

export LANG=en_US.utf-8

export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_STATE_HOME="${HOME}/.local/state"
{{- if (eq .chezmoi.os "darwin" ) }}
export XDG_RUNTIME_DIR=/private/tmp
PATH="${PATH}:/opt/homebrew/bin"
{{- end }}

# never nano
export EDITOR=$(command -v nvim || command -v vim || command -v vi)
export VISUAL=$EDITOR

export PATH="${PATH}:${HOME}/.local/bin"
export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"
