# This is Git's per-user configuration file.
[user]
	name = Alex Flores
	email = domain@me.com
	signingkey = 687EF6FFF81642CB

[core]
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[github]
	user = audibleblink

# [init]
# 	templatedir = ~/.git_template

[commit]
	# gpgsign = true

[alias]
	pul = pull --rebase
	rem = remote -v
	bra = branch -v
	com = commit -v
	sta = status -s

[http]
	postBuffer = 52428800


{{ if (eq .chezmoi.os "darwin") }}
[gpg]
	program = /usr/local/bin/gpg2
{{ else }}
[gpg]
	program = /usr/bin/gpg2
{{ end }}


[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@github.com:"]
	insteadOf = https://github.com

