{{- if and (eq .chezmoi.os "linux") (.personal) -}}

#!/bin/bash

set -eufo pipefail

pkgs=(
        curl
        dos2unix
        git
        gnupg
        jq
        neovim
        ripgrep
        tmux
        tree
        unzip
        zsh
        zstd
)

{{- if .dev }}
pkgs+=(
        golang
        build-essential
        make
)
{{- end }}

{{- if (not .headless) }}
pkgs+=(
        arandr
        lxappearance
        rofi
        xfce4-terminal
        xfce4-clipman
)
{{- end }}

sudo apt update
sudo apt install -y ${pkgs[@]}
{{- end }}

/bin/bash -c "$(curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh)"
