{{ if (and (eq .chezmoi.os "darwin" "linux") (not .headless)) -}}
#!/bin/bash

set -eufo pipefail

extensions=(
	asvetliakov.vscode-neovim
	eamodio.gitlens
	golang.go
	jinliming2.vscode-go-template
	ms-azuretools.vscode-docker
	ms-vscode-remote.remote-containers
	ms-vscode-remote.remote-ssh
	ms-vscode-remote.remote-ssh-edit
	ms-vscode-remote.vscode-remote-extensionpack
	silofy.hackthebox
	streetsidesoftware.code-spell-checker
)

for extension in ${extensions[@]}; do
	code --force --install-extension $extension
done

{{ if (eq .chezmoi.os "darwin") }}
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
{{ end }}
{{ end }}
