{{- if and (eq .chezmoi.os "darwin") (.personal) -}}
#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "bat"
     "curl"
     "diff-so-fancy"
     "dos2unix"
     "entr"
     "fd"
     "git"
     "git-delta"
     "gnupg"
     "jq"
     "neovim"
     "pinentry-mac"
     "ripgrep"
     "tmux"
     "tree"
     "watch"
     "wget"
     "xz" 
     "zsh"
     "zstd" -}}

{{- $casks := list -}}
{{ if (and .personal .admin) -}}
{{   $brews = concat $brews (list
       "gopass") -}}
{{ $casks = concat $casks (list
     "1password"
     "ferdium"
     "brave-browser"
     "firefox"
     "bettertouchtool"
     "nextcloud"
     "iterm2"
     "karabiner-elements"
     "spotify"
     "visual-studio-code"
     "zoom"
     "signal") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
