# vim: ft=zsh foldmarker=[[[,]]] foldlevelstart=0 foldmethod=marker 
# zmodload zsh/zprof

# Navigation [[[
setopt auto_pushd
setopt pushd_ignore_dups
setopt pushdminus
setopt globstarshort
# setopt auto_cd
# case-insensitive globbing (used in pathname expansion)
zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'
# sort completions by when they were last used
zstyle ':completion:*:*:*:*' file-sort modification
# enable cycling through completions 
zstyle ':completion:*' menu select
# don't show $cdpath directories in completion
zstyle ':completion:*:complete:(cd|pushd):*' tag-order 'local-directories named-directories'

export cdpath=( . ${XDG_CONFIG_HOME} ${HOME}/.local ${HOME} )

# ]]]
# History [[[
export HISTFILE="${XDG_STATE_HOME}/zsh_history"
setopt append_history
setopt extended_history
setopt hist_expire_dups_first
setopt hist_ignore_dups # ignore duplication command history list
setopt hist_ignore_space
setopt hist_verify
setopt inc_append_history
setopt share_history # share command history data
HISTSIZE=100000
SAVEHIST=100000
# ]]]
# Functions and Aliases [[[
{{- if (eq .chezmoi.os "darwin")}}
eval "$(brew shellenv)"
{{- end }}
source "${ZDOTDIR}/aliases.zsh"  # Sources custom aliases

# Reset fpath and add custom functions and completions
fpath=($(zsh -l -c 'echo $fpath'))
fpath=($ZDOTDIR/{completions,functions} $fpath)
autoload -Uz $ZDOTDIR/functions/**(N.:t)
# ]]]
# Plugins [[[
{{- if (.personal) }}
lazy no-op
lazy todo
lazy atuin
{{- end }}
# plugins added to stack are loaded in reverse order
lazy zsh-syntax-highlighting
lazy autopair 
lazy zsh-vi-mode
lazy substring-search

zsh-defer bindings
# ]]]
# Compinit [[[
autoload -U compinit
compinit
# ]]]

# starship is installed and hasn't been run
(( $+functions[starship_zle-keymap-select] )) || {
  (( $+commands[starship] )) && eval "$(starship init zsh)"
}

[ -f ~/.zshrc_local ] && source ~/.zshrc_local
