# vim: ft=zsh foldmarker=[[[,]]] foldlevelstart=0 foldmethod=marker 

# Navigation [[[
setopt auto_pushd
setopt pushd_ignore_dups
setopt pushdminus
setopt auto_cd
# case-insensitive globbing (used in pathname expansion)
zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'
# sort completions by when they were last used
zstyle ':completion:*:*:*:*' file-sort modification
# enable cycling through completions 
zstyle ':completion:*' menu select
# don't show cdpath directories in completion
zstyle ':completion:*:complete:(cd|pushd):*' tag-order 'local-directories named-directories'

# ]]]
# History [[[
setopt append_history
setopt extended_history
setopt hist_expire_dups_first
setopt hist_ignore_dups # ignore duplication command history list
setopt hist_ignore_space
setopt hist_verify
setopt inc_append_history
setopt share_history # share command history data
HISTSIZE=100000
SAVEHIST=100000
# ]]]
# Key Bindings [[[
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

# Creates a new tmux window with a floating terminal
function floats() {
  tmux popup -E 
}
zle     -N   floats
bindkey '^[i' floats


# Prepend sudo to the current command
function prepend-sudo {
  if [[ $BUFFER != "sudo "* ]]; then
    BUFFER="sudo $BUFFER"; CURSOR+=5
  fi
}
zle -N prepend-sudo
bindkey -M vicmd ! prepend-sudo


zmodload -i zsh/parameter
function last-command-output() {
  echo "$(eval $history[$((HISTCMD-1))])" | ccopy
}
zle -N last-command-output
bindkey -M vicmd yy last-command-output
# ]]]

plugins=(
  # evalcache
  autopair
  {{- if (.personal) }}
  gpg
  todo
  atuin
  fuck
  # pentest
  {{- end }}
  zsh-syntax-highlighting
  substring-search
  zsh-vi-mode
)

{{- if (eq .chezmoi.os "darwin")}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}
source "${ZDOTDIR}/aliases.zsh"  # Sources custom aliases
source "${ZDOTDIR}/sourcer.zsh"  # Sets up fpaths and plugins

export cdpath=( . ${XDG_CONFIG_HOME}  ${HOME} )

command -v starship > /dev/null && eval "$(starship init zsh)"
[ -f ~/.zshrc_local ] && source ~/.zshrc_local

