{{ $data := "~/.local/share/tmux" }}
{{ $conf := "~/.config/tmux" }}

# TPM Plugins [[[
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'junegunn/tmux-fzf-url'
set -g @plugin 'tmux-plugins/tmux-logging'
set -g @plugin 'audibleblink/tmux-thumbs'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'audibleblink/tmux-floax'
set -g @plugin 'catppuccin/tmux'
set -g @plugin 'erikw/tmux-dark-notify'
# ]]]
# Plugin Overrides [[[
set -g @continuum-restore 'on'

set -g @resurrect-save 'S'
set -g @resurrect-restore 'R'
set -g @resurrect-strategy-nvim 'session'

set -g @thumbs-key f
set -g @thumbs-command 'echo -n {} | pbcopy && tmux display-message "Copied {}"'
set -g @thumbs-contrast 1

# set -g @catppuccin_flavor 'latte' # light mode
set -g @catppuccin_flavor 'macchiato' # light mode
set -g @catppuccin_window_status_style "rounded"
set -g @catppuccin_date_time_text " %H:%M"
set -g @catppuccin_session_icon "  "
set -g @catppuccin_window_current_number_color "#{@thm_peach}"
set -g @catppuccin_window_text "#W"
set -g @catppuccin_window_current_text "#W#{?window_zoomed_flag,(),}"
set -g @catppuccin_window_number_position "right"
set -g @catppuccin_window_default_fill "number"
set -g @catppuccin_window_default_text "#W"
set -g @catppuccin_window_current_fill "number"
set -g @catppuccin_status_right_separator " "
set -g @catppuccin_status_fill "icon"
set -g @catppuccin_status_connect_separator "no"

set -g @floax-session-name 'floax'
set -g @floax-bind '-n C-t'
set -g @floax-width '75%'
set -g @floax-height '66%'
set -g @floax-title '─── вєωαяє, ι αм ƒαη¢у! '
set -g @floax-border-color 'yellow'
set -g @floax-text-color 'white'
set -g @floax-change-path 'false'

set -g @dark-notify-theme-path-light '{{ $data }}/plugins/tmux/themes/catppuccin_latte_tmux.conf'
set -g @dark-notify-theme-path-dark '{{ $data }}/plugins/tmux/themes/catppuccin_macchiato_tmux.conf'

# Initializes TMUX plugin manager. Must be last.
set-environment -g TMUX_PLUGIN_MANAGER_PATH '{{ $data }}/plugins'
run '{{ $data }}/plugins/tpm/tpm'

if-shell "test -e ~/.local/state/tmux/tmux-dark-notify-theme.conf" \
     "source-file ~/.local/state/tmux/tmux-dark-notify-theme.conf"


# ]]]
# My Prefs [[[
set -g status-bg default
set -g status-style bg=default
set -g status-right-length 120
set -g status-left-length 120

set -g  status-left  "#{E:@catppuccin_status_session}"
set -g  status-right "#[bg=#{@thm_mauve},fg=#{@thm_crust}]#[reverse]#[noreverse]󰯙 "
set -ag status-right "#[fg=#{@thm_fg},bg=#{@thm_mantle}] #({{ $conf }}/functions/battery.sh) "
set -ag status-right "#{E:@catppuccin_status_date_time}"

set -g focus-events on
set -s escape-time 0
set -g prefix C-a
bind C-a send-prefix
bind r source-file "{{ $conf }}/tmux.conf"
set -g history-limit 80000

# Window Management
set -g base-index 1
set -g renumber-windows on
bind q switch-client -l

# Kill and send panes to another window
bind x kill-pane
bind b break-pane -d
bind a last-window


# tmux > 2.1
set -g mouse on
bind -n WheelUpPane if-shell -F -t = "#{mouse_any_flag}" "send-keys -M" "if -Ft= '#{pane_in_mode}' 'send-keys -M' 'select-pane -t=; copy-mode -e; send-keys -M'"
bind -n WheelDownPane select-pane -t= \; send-keys -M

# Use readline key-bindings in the tmux command prompt
set -g status-keys "emacs"
set -g status-position top

# Create an empty second status bar for psuedo padding
set -Fg 'status-format[1]' '#{status-format[0]}'
set -g 'status-format[1]' ''
set -g status 2

# Use vim keybindings in copy mode
setw -g mode-keys vi
bind -T copy-mode-vi 'v' send -X begin-selection
bind -T copy-mode-vi 'y' send -X copy-pipe-and-cancel

# Allows clearing screen with Prefix+L
bind C-l send-keys 'C-l'
# ]]]
# Default Shell [[[
{{ if (eq .chezmoi.os "darwin") }}
set -s copy-command 'pbcopy'
set -g default-shell /bin/zsh
set-option -g default-terminal "xterm-256color"
set -g -a terminal-overrides ',xterm-256color:Tc,*:Ss=\E[%p1%d q:Se=\E[2 q'
{{ else  }}
set -s copy-command 'xsel -i'
set -g default-shell /usr/bin/zsh
set-option -g default-terminal "xterm-256color"
set -g -a terminal-overrides ',*256col*:Tc,*:Ss=\E[%p1%d q:Se=\E[2 q'
{{ end }}
# ]]]


# vim: ft=bash foldmarker=[[[,]]] foldlevelstart=0 foldmethod=marker spell:
