{{ $data := "~/.local/share/tmux" }}
{{ $conf := "~/.config/tmux" }}

# TPM Plugins [[[
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'junegunn/tmux-fzf-url'
set -g @plugin 'tmux-plugins/tmux-logging'
set -g @plugin 'audibleblink/tmux-thumbs'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'audibleblink/tmux-floax'
set -g @plugin 'catppuccin/tmux'
set -g @plugin 'erikw/tmux-dark-notify'
# ]]]
# Plugin Overrides [[[
set -g @continuum-restore 'on'

set -g @resurrect-restore 'R'
set -g @resurrect-save 'S'
set -g @resurrect-strategy-nvim 'session'

set -g @thumbs-command 'echo -n {} | pbcopy && tmux display-message "Copied {}"'
set -g @thumbs-contrast 1
set -g @thumbs-key f

set -g @catppuccin_date_time_icon "󰃰  "
set -g @catppuccin_date_time_color "#{@thm_sapphire}"
set -g @catppuccin_date_time_text " %a %d   %H:%M"
set -g @catppuccin_pane_active_border_style "##{?pane_in_mode,fg=#{@thm_blue},##{?pane_synchronized,fg=#{@thm_mauve},fg=#{@thm_blue}}}"
set -g @catppuccin_pane_border_status "on"
set -g @catppuccin_session_bg_color "#{@thm_pink}"
set -g @catppuccin_session_color "#{?client_prefix,#{E:@thm_yellow},#{E:@thm_blue}}"
set -g @catppuccin_session_icon "#{?client_prefix,  ,  }"
set -g @catppuccin_status_connect_separator "no"
set -g @catppuccin_status_fill "icon"
set -g @catppuccin_status_middle_separator ""
set -g @catppuccin_status_right_separator "█ "
set -g @catppuccin_window_current_fill "number"
set -g @catppuccin_window_current_number_color "#{@thm_peach}"
set -g @catppuccin_window_current_text "#W#{?window_zoomed_flag,  ,}"
set -g @catppuccin_window_default_fill "number"
set -g @catppuccin_window_default_text "#W"
set -g @catppuccin_window_number_color "#{@thm_overlay_2}"
set -g @catppuccin_window_number_position "right"
set -g @catppuccin_window_status_style "rounded"
set -g @catppuccin_window_text "#W"

set -g @floax-bind 'C-Space'
set -g @floax-border-color 'yellow'
set -g @floax-change-path 'false'
set -g @floax-height '66%'
set -g @floax-session-name 'floax'
set -g @floax-text-color 'white'
set -g @floax-title '─── вєωαяє, ι αм ƒαη¢у! '
set -g @floax-width '75%'

set -g @dark-notify-theme-path-light '{{ $conf }}/catppuccin-latte.conf'
set -g @dark-notify-theme-path-dark '{{ $conf }}/catppuccin-macchiato.conf'

# Initializes TMUX plugin manager. Must be last.
set-environment -g TMUX_PLUGIN_MANAGER_PATH '{{ $data }}/plugins'
run '{{ $data }}/plugins/tpm/tpm'

if-shell "test -e ~/.local/state/tmux/tmux-dark-notify-theme.conf" \
     "source-file ~/.local/state/tmux/tmux-dark-notify-theme.conf"

# ]]]
# My Prefs [[[
bind -n S-Enter send-keys C-j
set -g status-bg default
set -g status-style bg=default
set -g status-right-length 120
set -g status-left-length 120
set -g allow-rename off

set -g  status-left  "#{E:@catppuccin_status_session} "
set -g status-right ""
set -ag  status-right "#[bg=#{@thm_mauve},fg=#{@thm_crust}]#[reverse]#[noreverse]󰯙  #[fg=#{@thm_fg},bg=#{@thm_surface_0}]  #({{ $conf }}/functions/battery.sh)#[bg=default]#[fg=#{@thm_surface_0}]#{@catppuccin_status_right_separator} "
set -ag status-right "#{E:@catppuccin_status_date_time}"

set -g focus-events on
set -s escape-time 0
set -g prefix C-a
bind C-a send-prefix
bind r source-file "{{ $conf }}/tmux.conf"
set -g history-limit 80000

# Window Management
set -g base-index 0
set -g renumber-windows on
bind q switch-client -l

# Auto zooming panes
bind Z if-shell -F "#{?@auto-zoom,1,0}" \
    "set-option -p -u @auto-zoom; display 'Auto-zoom disabled'" \
    "set-option -p @auto-zoom 1; display 'Auto-zoom enabled'"
set-hook -g pane-focus-in 'if-shell -F "#{&&:#{?@auto-zoom,1,0},#{==:#{window_zoomed_flag},0}}" "resize-pane -Z"'
# Rename panes on pane exit
set-hook -g pane-focus-out 'select-pane -T "#{pane_current_command}"'


# Kill and send panes to another window
bind x kill-pane
bind b break-pane -d
bind a last-window


# tmux > 2.1
set -g mouse on
bind -n WheelUpPane if-shell -F -t = "#{mouse_any_flag}" "send-keys -M" "if -Ft= '#{pane_in_mode}' 'send-keys -M' 'select-pane -t=; copy-mode -e; send-keys -M'"
bind -n WheelDownPane select-pane -t= \; send-keys -M

# Use readline key-bindings in the tmux command prompt
set -g status-keys "emacs"
set -g status-position top

# Create an empty second status bar for psuedo padding
set -Fg 'status-format[1]' '#{status-format[0]}'
set -g 'status-format[1]' ''
set -g status 2

# Use vim keybindings in copy mode
setw -g mode-keys vi
bind -T copy-mode-vi 'v' send -X begin-selection
bind -T copy-mode-vi 'y' send -X copy-pipe-and-cancel

# Allows clearing screen with Prefix+L
bind C-l send-keys 'C-l'
# ]]]
# Default Shell [[[
set-option -g default-terminal "xterm-256color"
set -g -a terminal-overrides ',*256col*:Tc,*:Ss=\E[%p1%d q:Se=\E[2 q'
{{ if (eq .chezmoi.os "darwin") }}
set -s copy-command 'pbcopy'
set -g default-shell /bin/zsh
{{ else  }}
set -s copy-command 'xsel -i'
set -g default-shell /usr/bin/zsh
{{ end }}
{{ if .arch }}
set -s copy-command 'wl-copy'
{{ end }}
# ]]]

# vim: ft=bash foldmarker=[[[,]]] foldlevelstart=0 foldmethod=marker spell:
