{{ if (and (.ephemeral) (eq .chezmoi.os "darwin" "linux") (not .personal)) -}}
Host *
    ControlMaster auto
    ControlPath ~/.ssh/sockets/%r@%h-%p
    ControlPersist 300
    {{- if (eq .chezmoi.os "darwin" )}}
    AddKeysToAgent yes
    UseKeychain yes
    {{- end }}
{{ end -}}
