[user]
	name = Alex Flores
	email = domain@me.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKDJ5RaJAoQECr+8dZgudWKCxoGmPWCdgTWbTEvzM3+3


[advice]
	pushNonFastForward = false
	statusHints = false
	addEmptyPathspec = false

[blame]
	coloring = highlightRecent
	date = relative

[core]
	excludesfile = ~/.config/git/ignore
	whitespace = trailing-space,space-before-tab
	compression = 9  # trade cpu for network
	fsync = none
	preloadindex = true  # preload index for faster status

[merge]
	conflictStyle = zdiff3

[color]
	ui = auto

[init]
	defaultBranch = main

[diff]
	algorithm = histogram
	renamelimit = 8192
	renames = copies
	context = 2  # less context in diffs

[github]
	user = audibleblink

[http]
	postBuffer = 52428800

[push]
	autoSetupRemote = true  # easier to push new branches
	default = current  # push only current branch by default
	followTags = true  # push also tags

[pull]
	rebase = true
	default = current

[rebase]
	autostash = true

[branch]
    sort = -committerdate

[status]
	submoduleSummary = true
	short = true
	showStash = true
	showUntrackedFiles = all  # show individual untracked files

[include]
	path = ~/.config/git/instead

[include]
	path = ~/.gitconfig_local

[rerere]
	enabled = true

[gpg]
	format = ssh

[gpg "ssh"]
	gpgsign = true
	allowedSignersFile = ~/.config/git/allowedSigners
{{- if (eq .chezmoi.os "darwin") }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{ else  }}
{{ end }}
[commit]
	verbose = true  # add more context to commit messages
	cleanup = strip
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
