input {
    workspace-auto-back-and-forth
    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 300
        repeat-rate 30
    }

    touchpad {
        // tap
        natural-scroll
		dwt
    }

    mouse {
        accel-profile "flat"
    }
    focus-follows-mouse max-scroll-amount="0%"
}

layout {
    gaps 3
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    focus-ring {
        off
    }

    background-color "transparent"

    default-column-width { proportion 0.66667; }

    border {
        width 2
        active-gradient from="#0DB7D4" to="#9778D0" angle=90
        inactive-color "#04404A"
    }

    struts {
        left -2
        right -2
        top 0
        bottom 0
    }
}

layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}

spawn-at-startup "/usr/bin/mate-polkit"
spawn-at-startup "pikabar"
spawn-at-startup "systemctl" "--user" "enable" "--now" "hypridle"
spawn-at-startup "swww-daemon"

environment {
    LD_PRELOAD ""
    MOZ_ENABLE_WAYLAND "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_DESKTOP "niri"
    MOZ_DBUS_REMOTE "1"
    GDK_BACKEND "wayland"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_WAYLAND_FORCE_DPI "physical"
    EGL_PLATFORM "wayland"
    CLUTTER_BACKEND "wayland"
    TERM "ghostty"
    TERMINAL "ghostty"
     _JAVA_AWT_WM_NONREPARENTING "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "qt6ct"
    //nv __GL_VRR_ALLOWED "1"
    //nv __GL_GSYNC_ALLOWED "1"

}

prefer-no-csd

hotkey-overlay {
   skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 2.5
}

window-rule {
    match app-id="com.blink.float"
    open-floating true
    default-column-width { fixed 960; }
    default-window-height { fixed 640; }
}

window-rule {
    match app-id="^(steam_app_.*)$"
    variable-refresh-rate true
    open-fullscreen true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Return { spawn "ghostty"; }
    Mod+D { spawn "fuzzel"; }
    Mod+P { spawn "ghostty" "--class=com.blink.float" "-e" "btop"; }
    Super+Alt+L { spawn "pikabar-lock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "pamixer" "-i" "5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "pamixer" "-d" "5"; }
    XF86AudioMute        allow-when-locked=true { spawn "pamixer" "-t"; }

    Mod+Shift+Q { spawn "wlogout"; }
    Mod+Q { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    // Mod+F { maximize-column; }
    Mod+F { fullscreen-window; }
    Mod+Shift+F { spawn "nemo"; }
    Mod+C { center-column; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}
