[metadata]
name = "bookmarks"
description = "A channel to browse bookmarks"
requirements = ["zsh"]

[ui.input_bar]
header = "Bookmarks"
prompt = " "
position = "bottom"
border_type = 'none'
padding = { left = 3, bottom = 0, top = 1, right = 3 }

[source]
command = "source ~/.zshrc_local ; hash -d"
display = "{split:=:0|pad:8}\t~/{split:/:-2..}"
output = "{split:=:2}"

[preview]
command = 'ls -larth {split:=:2}'

[ui]
ui_scale = 80
input_header = "Bookmarks"
input_prompt = "  "

[ui.results_panel]
padding = { left = 2, bottom = 0, top = 1, right = 2 }
border_type = 'none'

[ui.preview_panel]
hidden = true

[keybindings]
esc = "quit"
ctrl-c = "quit"
ctrl-b = "quit"
