[metadata]
name = "bookmarks"
description = "A channel to browse bookmarks"
requirements = ["zsh"]

[ui.input_bar]
header = "Bookmarks"
prompt = " "
position = "top"
border_type = 'none'
padding = { left = 1, bottom = 1}

[source]
command = "source ~/.zshrc_local ; hash -d"
display = "{split:=:0|pad:8}\t~/{split:/:-2..}"
output = "{split:=:2}"

[preview]
command = 'ls -larth {split:=:2}'

[ui]
ui_scale = 100
input_header = "Bookmarks"
input_prompt = "  "

[ui.preview_panel]
size = 60
header = ''
footer = 'Dirs'
hidden = true

[keybindings]
esc = "quit"
ctrl-c = "quit"
ctrl-b = "quit"
