[metadata]
name = "files"
description = "A channel to select files and directories"
requirements = ["fd", "bat"]

[ui.input_bar]
header = "Files"
prompt = "ï€‚ "
position = "bottom"
border_type = 'none'
padding = { left = 1, top = 1}

[source]
command = ["fd -t f -HI"]

[preview]
command = "bat -n --color=always '{}'"
env = { BAT_THEME = "base16" }

[actions.edit]
description = "open in vim"
command = "nvim '{}'"
mode = "execute"

[keybindings]
ctrl-o = "actions:edit"
