[metadata]
name = "git-status"
description = "A channel to select files from git status commands"
requirements = ["git"]

[ui.input_bar]
header = "Git Status"
prompt = "ï€‚ "
position = "top"
border_type = 'none'
padding = { left = 1, bottom = 1}

[source]
command = "git status --short"
output = "{split: :2}"

[preview]
command = "git diff HEAD --color=always -- {split: :2}"

[ui]
ui_scale = 100

[ui.preview_panel]
size = 60
footer = 'Files'
