[metadata]
name = "hosts"
description = "A channel to find and select ssh hosts"

[source]
command = """rg -e "^Host" --no-heading --no-line-number ~/.ssh | grep -v '*'"""
display = "{split:::0|split:/:-1}:{split: :1}"
output = '-F {split:::0|strip_ansi} {split: :1}'

[preview]
command = "rg  -A3 \"^Host {split: :1}\" {split:::0}"
env = { BAT_THEME = "ansi" }
offset = '{split:\::1}'

[ui]
preview_panel = { header = '{split:\::..2}' }
