[metadata]
name = "projects"
requirements = ["fd", "git"]
description = """
A channel to select from the code folder

This channel uses `fd` to find directories that contain a `.git` subdirectory, and then allows you to preview the git log of the selected repository.
"""

[source]
# this is a macos version of the command. While perfectly usable on linux, you may want to tweak it a bit.
command = "fd -g .git -HL -t d -d 4 --prune ~/code --exec dirname {}"
display = "{split:/:-1}"

[preview]
command = "cd {}; git log -n 20 --pretty=medium --all --graph --color"

[ui]
ui_scale = 100
input_header = "Search"

[ui.preview_panel]
size = 60
header = ''
footer = 'Dirs'
