[metadata]
name = "projects"
requirements = ["fd", "git"]
description = """
A channel to select from the code folder

This channel uses `fd` to find directories that contain a `.git` subdirectory, and then allows you to preview the git log of the selected repository.
"""

[ui.input_bar]
header = "Projects"
prompt = "ï€‚ "
position = "bottom"
border_type = 'none'
padding = { left = 1, top = 1}

[source]
# this is a macos version of the command. While perfectly usable on linux, you may want to tweak it a bit.
command = "fd .git\\| worktrees ~/code -HL -t d -d 4 --prune "
display = "{split:/:-2}"

[preview]
command = "cd {}; git log -n 20 --pretty=medium --all --graph --color"

[ui]
ui_scale = 100

[ui.preview_panel]
size = 60
footer = 'Git Log'
border_type = 'none'
padding = { right = 2 }

[keybindings]
esc = "quit"
ctrl-c = "quit"
ctrl-g = "quit"
