[metadata]
name = "tmux"
description = "A channel to preview and select tmux panes"

[source]
command = "tmux list-panes -a -F '#S:#I.#P | #W#F | #T'"
output = "{split: :0}"

[preview]
command = "tmux capture-pane -ep -t {split: :0}"

